/node_modules
/public/hot
/public/storage
/public
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
database/database.sqlite
.idea
/public/js
/public/css
/public/mix-manifest.json
/storage
/tests/coverage
jmeter.log
supervisord.pid
auth.json
_ide_helper.php
.deptrac.cache
